<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.name }}</title>
  <meta name="viewport" content="width=device-width">
  <link href="/assets/css/bootstrap.css" rel="stylesheet">
  <link href="/assets/css/docs.css" rel="stylesheet">
  <link href="/assets/css/syntax.css" rel="stylesheet">
  <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">

  <link href="/dist/css/formkit.css" rel="stylesheet">
  <link href="/dist/css/flags.css" rel="stylesheet">
</head>

<body>

{% include navbar.html %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      {% include sidebar.html %}
    </div>
    <div class="span9">
      <div class="page-header">
        <h1>{{ site.name }} <small>{{ page.title }}</small></h1>
      </div>
      {{ content }}
    </div>
  </div>

  <hr>
  <footer>
    <p>Made by Eddie Hillenbrand</p>
  </footer>
</div>

<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/bootstrap.js"></script>

<script src="/dist/js/metadata.js"></script>
<script src="/dist/js/phone.js"></script>
<script src="/dist/js/formkit.js"></script>
<script src="/dist/js/group.js"></script>

</body>
</html>
