<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Basics</li>
    <li{% if page.slug == "introduction" %} class="active"{% endif %}>
      <a href="/">Introduction</a>
    </li>
    <li{% if page.slug == "insets" %} class="active"{% endif %}>
      <a href="/insets">Insets</a>
    </li>
    <li class="nav-header">Validators</li>
    <li{% if page.slug == "required" %} class="active"{% endif %}>
      <a href="/required">Required</a>
    </li>
    <li{% if page.slug == "pattern" %} class="active"{% endif %}>
      <a href="/pattern">Pattern</a>
    </li>
    <li{% if page.slug == "email" %} class="active"{% endif %}>
      <a href="/email">Email</a>
    </li>
    <li{% if page.slug == "phone" %} class="active"{% endif %}>
      <a href="/phone">Phone</a>
    </li>
    <li{% if page.slug == "zip" %} class="active"{% endif %}>
      <a href="/zip">Zip Code</a>
    </li>
    <li class="nav-header">Groups</li>
    <li{% if page.slug == "group" %} class="active"{% endif %}>
      <a href="/group">From Group</a>
    </li>
    <li class="nav-header">Misc</li>
    <li{% if page.slug == "placeholders" %} class="active"{% endif %}>
      <a href="/placeholders">Placeholders</a>
    </li>
  </ul>
</div>
