---
layout: default
title: Form Group
slug: group
---

<p>Fields are rarely independent. Forms are made up of several
  fields and they must all be correct. Often you want to
  prevent the user from taking some action until all the
  fields are in a valid state.</p>

<div class="row-fluid">
  <div class="span12">
    <h3>Example</h3>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <p>In this example the Submit button is disabled until all
      the fields in the group pass validation. As soon as every
      field in the group is valid the button become instantly
      enabled.</p>
  </div>
  <div class="span5 offset1">
    <form class="form-stacked" data-group>
      <div class="controls controls-row">
        <div class="input-inset span5">
          <input type="text" id="first" placeholder="First" data-required>
          <span class="inset"><i class=""></i></span>
        </div>
        <div class="input-inset span7">
          <input type="text" id="last" placeholder="Last" data-required>
          <span class="inset"><i class=""></i></span>
        </div>
      </div>
      <div class="controls-row">
        <div class="input-inset span12">
          <input type="text" id="email" placeholder="Email" data-email>
          <span class="inset"><i class=""></i></span>
        </div>
      </div>
      <div class="text-right">
        <button type="reset" class="btn btn-link btn-small">Reset</button>
        <button type="submit" class="btn">Submit</button>
      </div>
    </form>
  </div>
</div>

<h3>Markup</h3>

{% highlight html %}
<form class="form-stacked" data-group>
  ...
  <div class="text-right">
    <button type="reset" class="btn btn-link btn-small">Reset</button>
    <button type="submit" class="btn" disabled="disabled">Submit</button>
  </div>
</form>
{% endhighlight %}
