---
layout: default
title: Introduction
slug: introduction
---

<p>
Form Kit is a set of extensions to Bootstrap that provides better
handling of responsive forms, declarative validation, and other
enhancments. In general Form Kit forms are assembled in much the same
way as their Bootstrap counterparts. When in doubt, refer to
Bootstrap's documentation.
</p>

<p>
When constructing a form make it a descendant of a<code>.row-fluid</code>
to ensure it is responsive. The basic boilerplate for a form is a
follows:
</p>

{% highlight html %}
<div class="row-fluid">
 <div class="span12">
   <form class="form-horizontal">
   </form>
 </div>
</div>
{% endhighlight %}

<h2>Two Inputs on a Row</h2>

<p>
Form controls can be grouped into a responsive row. Just insert a
.control-group that contains .controls.controls-row then you can
specify how many columns each input element should span within its 12
column grid.
</p>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="first1">Name</label>
    <div class="controls controls-row">
      <input class="span5" type="text" id="first1" placeholder="First">
      <input class="span7" type="text" id="last1" placeholder="Last">
    </div>
  </div>
</form>

{% highlight html %}
<div class="control-group">
  <label class="control-label" for="first1">Name</label>
  <div class="controls controls-row">
    <input class="span5" type="text" id="first1" placeholder="First">
    <input class="span7" type="text" id="last1" placeholder="Last">
  </div>
</div>
{% endhighlight %}

<h2>Three Inputs on a Row</h2>

<p>
Since the forms are nested 12 column grids we can easily squeze
more inputs into a row while maintaining responsiveness. In the
next example the row is split into 3 colums that span a different
number of grid columns using .span4, .span3, and .span5.
</p>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="first2">Name</label>
    <div class="controls controls-row">
      <input class="span4" type="text" id="first2" placeholder="First">
      <input class="span3" type="text" id="middle2" placeholder="Middle">
      <input class="span5" type="text" id="last2" placeholder="Last">
    </div>
  </div>
</form>

{% highlight html %}
<div class="controls controls-row">
  <input class="span4" type="text" id="first2" placeholder="First">
  <input class="span3" type="text" id="middle2" placeholder="Middle">
  <input class="span5" type="text" id="last2" placeholder="Last">
</div>
{% endhighlight %}
