---
layout: default
title: Insets
slug: insets
---

<p>Input insets provide a space within an input for displaying
  extra information to the user, such as required values. The
  insets can be icons or text.</p>
<p>To use an inset simply wrap an <code>.inset</code> and
  an <code>input</code> within
  an <code>.input-inset</code>.</p>
<p>Input feilds with insets also work within the 12 column
  responsive grid system, but instead of adding
  a <code>.span*</code> class to the input
  the <code>.span*</code> class is added to the wrapper.</p>
<p><strong>Caveat:</strong> there is one <em>manageable</em>
  problem with insets, the input value can be long enough to
  overlap with the inset. To address this problem
  some <code>padding-right</code> must be added to the input to
  compensate for the inset. A few classes are provided that help
  compensate for the inset, simply
  add <code>.right-small</code>, <code>.right-medium</code>,
  or <code>.right-large</code> to the wrapper deppending on how
  much space the inset will need.</p>
<p><small>The class <code>.right-small</code> works well for
  inset icons. If a particular inset may exceed the padding
  provided by <code>.right-large</code> the it is acceptable to
  use <code>style="padding-right: 150px;"</code> or similar on
  the input.</small></p>

<h6 class="example">Example</h6>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="first3">Name</label>
    <div class="controls controls-row">
      <div class="input-inset right-small span4">
        <input type="text" id="first3" placeholder="First">
        <span class="inset"><i class="icon-asterisk"></i></span>
      </div>
      <div class="input-inset right-medium span3">
        <input type="text" id="middle3" placeholder="Middle">
        <span class="inset"><span>Required</span></span>
      </div>
      <div class="input-inset right-small span5">
        <input type="text" id="last3" placeholder="Last">
        <span class="inset"><i class="icon-ok"></i></span>
      </div>
    </div>
  </div>
</form>

{% highlight html %}
<div class="input-inset right-small span4">
  <input type="text" id="first3" placeholder="First">
  <span class="inset"><i class="icon-asterisk"></i></span>
</div>
<div class="input-inset right-medium span3">
  <input type="text" id="middle3" placeholder="Middle">
  <span class="inset"><span>Required</span></span>
</div>
<div class="input-inset right-small span5">
  <input type="text" id="last3" placeholder="Last">
  <span class="inset"><i class="icon-ok"></i></span>
</div>
{% endhighlight %}
