---
layout: default
title: Phone Validator
slug: phone
---

<p>
The phone validator uses simple JavaScript library called phone.js for
inferring the locale of a phone number. Phone.js is in turn based on
Google's libphonenumber metadata.
</p>

<p>
The field can figure out what country a phone number is from based on
its prefix. Check if the number is a possible phone number for a given
country. Format a number for a given country.
</p>

<h3>Example</h3>

<div class="row-fluid">
  <div class="span6">
    <p>Tab into the phone field and type a phone number. When you
      tab out of the field it will identify the country the phone
      number is from and will check if the number is a possible
      number for that country. If it is a possible number for that
      country then that country's flag will be displayed where a
      check mark would be displayed for another type of field.</p>
    <p style="">
      <span class="label label-info">Heads up!</span>
      International numbers must be proceeded by a +.</p>
  </div>
  <div class="span5 offset1">
    <form class="form-stacked">
      <div class="controls-row">
        <div class="input-inset span12">
          <input type="text" id="name" placeholder="Name">
          <span class="inset"><i class=""></i></span>
        </div>
      </div>
      <div class="controls-row">
        <div class="input-inset span12">
          <input type="text" id="phone4" placeholder="Phone" data-phone>
          <span class="inset"><i class=""></i></span>
        </div>
      </div>
      <div class="text-right">
        <button type="reset" class="btn btn-link btn-small">Reset</button>
        <button type="submit" class="btn">Submit</button>
      </div>
    </form>
  </div>
</div>

<h3>Markup</h3>
{% highlight html %}
<div class="input-inset">
  <input type="text" id="phone" placeholder="Phone" data-phone>
  <span class="inset"><i></i></span>
</div>
{% endhighlight %}
