---
layout: default
title: Placeholders
slug: placeholders
---

<p>
Moving placeholders.
</p>

<h3>Example</h3>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="firstName5">Name</label>
    <div class="controls controls-row">
      <div class="input-inset placeholder-swap span4">
        <input type="text" id="firstName5" placeholder="First">
        <label class="placeholder" for="firstName5">First</label>
        <span class="inset"><i class=""></i></span>
      </div>
      <div class="input-inset placeholder-swap span3">
        <input type="text" id="middleName5" placeholder="Middle">
        <label class="placeholder" for="middleName5">Middle</label>
        <span class="inset"><i class=""></i></span>
      </div>
      <div class="input-inset placeholder-swap span5">
        <input type="text" id="lastName5" placeholder="Last">
        <label class="placeholder" for="lastName5">Last</label>
        <span class="inset"><i class=""></i></span>
      </div>
    </div>
  </div>
</form>

<h3>Markup</h3>
{% highlight html %}
<div class="input-inset placeholder-swap span4">
  <input type="text" id="firstName5" placeholder="First">
  <label class="placeholder" for="firstName5">First</label>
  <span class="inset"><i class=""></i></span>
</div>
{% endhighlight %}
