---
layout: default
title: Zip Code Validator
slug: zip
---

<p>
The zip code validator queries the
<a href="http://daspecster.github.io/ziptastic/">Ziptasic</a>
zip code database.
</p>

<p>

</p>

<h3>Example</h3>

<div class="row-fluid">
  <div class="span6">
    <p>Tab into the zip code field and type a US zip code. When you
      tab out of the field it will verify the entered value is a US
      zip code.</p>
  </div>
  <div class="span5 offset1">
    <form class="form-stacked">
      <div class="controls-row">
        <div class="input-inset span12">
          <input type="text" id="name" placeholder="Name">
          <span class="inset"><i class=""></i></span>
        </div>
      </div>
      <div class="controls-row">
        <div class="input-inset span12">
          <input type="text" id="zip" placeholder="Zip Code" data-zip>
          <span class="inset"><i class=""></i></span>
        </div>
      </div>
      <div class="text-right">
        <button type="submit" class="btn">Submit</button>
      </div>
    </form>
  </div>
</div>

<h3>Markup</h3>
{% highlight html %}
<div class="input-inset">
  <input type="text" id="zip" placeholder="Zip" data-zip>
  <span class="inset"><i></i></span>
</div>
{% endhighlight %}
